<mat-card style="padding: 20px;">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>First Name</mat-label>
      <input matInput id="firstName" type="text" formControlName="firstName">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Last Name</mat-label>
      <input matInput id="lastName" type="text" formControlName="lastName">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>PID</mat-label>
      <input matInput id="pid" type="text" formControlName="pid">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>

<div *ngIf="showLink">
  <a mat-button routerLink="/">Back to Home</a>
</div>

</mat-card>
